<div class="grid overflow-y-auto h-25rem">
    <div class="col-3">
        <p-card styleClass="flex justify-content-center cursor-pointer" (click)="openDialog()">
            New <br>
            Story
        </p-card>
    </div>

    <div *ngFor="let item of storyList" class="col-6 md:col-3 xl:col-3">
        <p-card header="{{item.name}}"
            [styleClass]="item.points > largeStoryLimit ? 'bg-green-800 text-white' : item.points > smallStoryLimit ? 'bg-green-600 text-white' : 'bg-green-100 text-black-alpha-70'">
            <p>
                {{item.description}}
            </p>
            <ng-template pTemplate="footer">
               <span class="text-4xl">{{item.points}}</span> {{ item.points === 1 ? 'Point' : 'Points'}}
            </ng-template>
        </p-card>
    </div>
</div>
<app-create-story [dataState]="dataState" [displayDialog]="visible" (closeDialogEvent)="onDialogClose($event)" (onSubmit)="createStory($event)"></app-create-story>