<p-dialog header="Create Sprint" [(visible)]="displayDialog" (onHide)="closeDialog()" [style]="{width: '50vw'}">
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="name">Name</label>
            <input [(ngModel)]="sprintDetails.name" placeholder="Enter sprint name" id="name" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            <small *ngIf="sprintNameExists" class="text-red-600">Sprint name already exists.</small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="name">Sprint Capacity</label>
            <input [(ngModel)]="sprintDetails.sprintCapacity" min="1" placeholder="Enter sprint capacity in points" id="name" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            <small *ngIf="noSelections" class="text-red-600">Couldn't select stories</small>
        </div>
    
        <div class="field col-12 relative">
            <button *ngIf="!sprintDetails.sprintStories.length" (click)="findClosestSet()" type="button" class=" w-full h-3rem right-0 bg-primary border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">Auto Select Stories</button>
            <button *ngIf="sprintDetails.sprintStories.length" (click)="createSprint()" type="button" class=" w-full h-3rem right-0 bg-primary border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700">Create Sprint</button>
        </div>
        <div class="field col-12 md:col-6">
            <button (click)="clearStories()" type="button" class=" w-full h-3rem right-0 bg-yellow-500 border-yellow-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-yellow-600 hover:border-yellow-600 active:bg-primary-700 active:border-yellow-700">Clear Stories</button>
            
        </div>
        <div class="field col-12 md:col-6">
            <button (click)="clearSprints()" type="button" class=" w-full h-3rem right-0 bg-yellow-500 border-yellow-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-yellow-600 hover:border-yellow-600 active:bg-primary-700 active:border-yellow-700">Clear Sprints</button>
        </div>
        
        <div class="field col-12 relative" *ngIf="sprintDetails.sprintStories.length">
            <p-fieldset legend="Stories Preview">
                <div class="grid m-0 p-1">
                    <div *ngFor="let item of sprintDetails.sprintStories" class="col-12 mt-2">
                        <p-card header="{{item.name}}"
                            [styleClass]="item.points > largeStoryLimit ? 'bg-green-800 text-white' : item.points > smallStoryLimit ? 'bg-green-600 text-white' : 'bg-green-100 text-black-alpha-70'">
                            <ng-template pTemplate="footer">
                               <span class="text-4xl">{{item.points}}</span> {{ item.points === 1 ? 'Point' : 'Points'}}
                            </ng-template>
                        </p-card>
                    </div>
                </div>
            </p-fieldset>
           
        </div>
    </div>
</p-dialog>