/* Style the tab view container to occupy the full width */

:host ::ng-deep {
    .p-tabview .p-tabview-nav li {
        margin-right: 0;
        width: 50%;
    }
    a[aria-selected="false"]{
        background-color: rgb(226, 226, 226);
    }
    a[aria-selected="true"]{
        border-color: white;
    }
    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        border-radius: 0px;
    }
    .p-tabview .p-tabview-panels {
        border-radius: 0px;
    }

}



  